.simple_text {
	position: absolute;
	text-align: center;
	width: 100%;
	/* bottom: 500px; */
	bottom: 300px;
	font-size: 90px;
	color: #FFF;
	/* text-shadow: 0 0 1px #da00da, 0 4px 1px #da00da, 4px 0 1px #da00da, 0 -4px 1px #da00da, -4px 0 1px #da00da; */
	-webkit-text-stroke: 3px #da00da;
}